{% extends 'layout.html' %}
{% block body %}
<style type="text/css">
.param-section {
    margin-top: 1em;
}    
</style>

<form id="searchForm" method="post" name="search">

    <div class="file-upload">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Pilih Image</button>

        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"  name="image"/>
        <div class="drag-text">
            <h3>Drag & drop berkas image disini</h3>
        </div>
    </div>
    <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">Hapus <span class="image-title">Uploaded Image</span></button>
        </div>
    </div>

        <div class="param-section">
            <label for="metric">Metric</label>
            <select name="metric">
                <option value="c">Cosine</option>
                <option value="e">Euclidean</option>
            </select>

            <label for="threshold">Threshold</label>
            <select name="threshold">
                <option>0.1</option>
                <option>0.2</option>
                <option>0.3</option>
                <option selected="true">0.4</option>
                <option>0.5</option>
                <option>0.6</option>
                <option>0.7</option>
                <option>0.8</option>
                <option>0.9</option>
                <option>1.0</option>
                <option>10.0</option>
                <option>20.0</option>
                <option>30.0</option>
                <option>40.0</option>
                <option>50.0</option>
                <option>60.0</option>
                <option>70.0</option>
                <option>80.0</option>
                <option>90.0</option>
                <option>100.0</option>
            </select>
        </div>

        <input type="submit" value="Cari" class="submit-button">
    </div>
</form>

<div id="imageQuery">
    
</div>

<div id="notif">
    
</div>

<div id="searchResult">
    
</div>

<script src="{{ url_for('static', filename='js/img_loader.js') }}"></script>
<script type="text/javascript">

    DEFAULT_SEARCH_URL = "/api/search";
    search_url = DEFAULT_SEARCH_URL;

    {% if img_path_list %}
        imgLoader.searchResult = {
                                    pred_labels: '{{ pred_labels }}',
                                    result: [
                                            {% for path in img_path_list %}
                                                '{{ path }}',
                                            {% endfor %}
                                            ]
                                };
        showQueryImage('{{ gallery_path }}', '{{ gallery_path }}');
        showResultHeader(imgLoader.searchResult);
        imgLoader.resultStart = 0;
        imgLoader.resultEnd = Math.min(50, imgLoader.searchResult.result.length);
        populateWithSearchResult();
        search_url += "?query_gallery={{ gallery_path }}";
    {% endif %}

    function showResultHeader(resp) {
        var template = '<div>' +
                        'Hasil klasifikasi: <b>' + resp.pred_labels + '</b><br>' +
                        'Ditemukan ' + resp.result.length + ' hasil' +
                        '</div><br>';
        $('#searchResult').append(template);
    }

    $("form[name='search']").submit(function(event) {
        var formData = new FormData($(this)[0]);
         $.ajax({
            url: search_url,
            type: "POST",
            data: formData,
            async: true,
            beforeSend: function() {
                $('#notif').html("Sedang mencari...");
            },
            success: function (msg) {
                $('#notif').html("");
                $('#searchResult').html("");

                showResultHeader(msg);
                imgLoader.searchResult = msg;
                imgLoader.resultStart = 0;
                imgLoader.resultEnd = Math.min(50, msg.result.length);
                populateWithSearchResult();
            },
            error: function() {
                $('#notif').html("Telah terjadi error, silakan coba lagi.");
            },
            cache: false,
            contentType: false,
            processData: false
        });
        event.preventDefault();
    });

    //
    function readURL(input) {
      if (input.files && input.files[0]) {

        var reader = new FileReader();

        reader.onload = function(e) {
          showQueryImage(e.target.result, input.files[0].name);
          search_url = DEFAULT_SEARCH_URL;
        };

        reader.readAsDataURL(input.files[0]);

      } else {
        removeUpload();
      }
    }

    function showQueryImage(src, name) {
        $('.image-upload-wrap').hide();

          $('.file-upload-image').attr('src', src);
          $('.file-upload-content').show();

          $('.image-title').html(name);
    }

    function removeUpload() {
      $('.file-upload-input').replaceWith($('.file-upload-input').clone());
      $('.file-upload-content').hide();
      $('.image-upload-wrap').show();
    }

    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>
{% endblock %}