{% extends 'layout.html' %}
{% block body %}
<form id="searchForm" method="post" name="search">

    <div class="file-upload">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Pilih Image</button>

        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"  name="image"/>
        <div class="drag-text">
            <h3>Drag & drop berkas image disini</h3>
        </div>
    </div>
    <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">Hapus <span class="image-title">Uploaded Image</span></button>
        </div>
    </div>

        <input type="submit" value="Cari" class="submit-button">
    </div>
</form>

<div id="imageQuery">
    
</div>

<div id="notif">
    
</div>

<div id="searchResult">
    
</div>

<script type="text/javascript">
    var loadCount = 20;
    var searchResult = null;
    var resultStart = 0;
    var resultEnd = 0;

    function populateWithSearchResult() {
        if (resultStart >= resultEnd) return;

        for (var i = resultStart; i < resultEnd; i++) {
            addImageResultItem(searchResult.result[i]);
        }
        resultStart = resultEnd;
        resultEnd = Math.min(resultEnd + loadCount, searchResult.result.length);

        if (resultStart >= resultEnd) {
            var end = '<div id="searchResultEnd">' +
                            '<p>Tidak ada lagi hasil.</p>' +
                        '</div>'
            $('#searchResult').append(end)
            return;
        }
    }

    function addImageResultItem(image_path) {
        var template = '<div class="image-item">' +
                        '<img src="static/gallery/'+ image_path +'">' + 
                        '</div>';
        $('#searchResult').append(template);
    }

    function showResultHeader(resp) {
        var template = '<div>' +
                        'Hasil klasifikasi: <b>' + resp.pred_labels + '</b><br>' +
                        'Ditemukan ' + resp.result.length + ' hasil' +
                        '</div><br>';
        $('#searchResult').append(template);
    }

    $("form[name='search']").submit(function(event) {
        var formData = new FormData($(this)[0]);
         $.ajax({
            url: "/api/search",
            type: "POST",
            data: formData,
            async: true,
            beforeSend: function() {
                $('#notif').html("Sedang mencari...");
            },
            success: function (msg) {
                $('#notif').html("");
                $('#searchResult').html("");

                showResultHeader(msg);
                searchResult = msg;
                resultStart = 0;
                resultEnd = Math.min(50, msg.result.length);
                populateWithSearchResult();
            },
            error: function() {
                $('#notif').html("Telah terjadi error, silakan coba lagi.");
            },
            cache: false,
            contentType: false,
            processData: false
        });
        event.preventDefault();
    });

    $(window).scroll(function() {
        if($(window).scrollTop() == $(document).height() - $(window).height()) {
            populateWithSearchResult();
        }
    });

    //
    function readURL(input) {
      if (input.files && input.files[0]) {

        var reader = new FileReader();

        reader.onload = function(e) {
          $('.image-upload-wrap').hide();

          $('.file-upload-image').attr('src', e.target.result);
          $('.file-upload-content').show();

          $('.image-title').html(input.files[0].name);
        };

        reader.readAsDataURL(input.files[0]);

      } else {
        removeUpload();
      }
    }

    function removeUpload() {
      $('.file-upload-input').replaceWith($('.file-upload-input').clone());
      $('.file-upload-content').hide();
      $('.image-upload-wrap').show();
    }

    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>
{% endblock %}